.btn {
  width: 100%;
  max-width: 285px;
  height: 70px;
  border-radius: 3px;
  color: $white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 30px 30px -15px rgba(40, 74, 183, 0.2);
}

.btn--blue {
  background: $royalblue;
  transition: 0.3s ease-in-out;
  &:hover {
    background: $dodgerblue;
  }
}

.btn--gray {
  background: $porcelian;
  color: $black;
}
