.card {
  position: relative;

  &__wrap {
    overflow: hidden;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    background-color: $white;
    @media (max-width: 1200px) {
      justify-content: flex-end;
      padding-right: 25px;
    }
    @media (max-width: 900px) {
      justify-content: space-around;
    }
    @media (max-width: 705px) {
      padding-right: 0;
      padding-left: 200px;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      justify-content: flex-end;
      padding: 80px 18px 25px;
      &::after {
        position: absolute;
        content: ' ';
        width: 100%;
        height: 1px;
        background: $catskill;
        top: 44%;
        left: 0;
      }
    }
  }

  &__img-bg {
    position: absolute;
    right: -75%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__img-bg1 {
    position: absolute;
    left: 0;
  }

  &__img-bg2 {
    position: absolute;
    left: 0;
    z-index: 2;
  }

  &__img-front {
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 5;
  }

  &__descr {
    width: 100%;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
    @media (max-width: 1200px) {
      max-width: 205px;
    }
    @media (max-width: 900px) {
      max-width: 330px;
      margin-left: 200px;
    }
    @media (max-width: 705px) {
      max-width: 300px;
      margin-left: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    @media (max-width: 1200px) {
      font-size: 2rem;
      line-height: 23px;
    }
    @media (max-width: 705px) {
      font-size: 1.8rem;
      line-height: 20px;
    }
  }

  &__list {
    width: 100%;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 25px;
    padding-left: 20px;
    & li {
      width: 100%;
      list-style-type: disc;
      margin-bottom: 5px;
      color: $gold;
      & span {
        color: $mako;
      }
    }
    @media (max-width: 1200px) {
      font-size: 1.6rem;
      line-height: 20px;
    }
    @media (max-width: 705px) {
      line-height: 18px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 24px;
  }

  &__back {
    width: 95%;
    height: 101%;
    background-color: $royalblue;
    border-radius: 5px;
    box-shadow: 0px 30px 30px -15px rgba(40, 74, 183, 0.15);
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
