.jobs {
  @media (max-width: 900px) {
    position: relative;
    height: 400px;
  }
  @media (max-width: 705px) {
    height: 275px;
  }
  @media (max-width: 450px) {
    height: 180px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    width: 100%;
    max-width: 600px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
    @media (max-width: 1200px) {
      max-width: 400px;
    }
    @media (max-width: 980px) {
      padding-top: 35px;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__title {
    width: 100%;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 52px;
    letter-spacing: 0.02em;
    color: $black;
    margin: 20px 0;
  }

  &__price {
    max-width: 200px;
    height: 60px;
  }

  &__descr {
    font-weight: 300;
    font-size: 2rem;
    line-height: 25px;
    margin-bottom: 40px;
    @media (max-width: 980px) {
      font-size: 1.8rem;
      line-height: 22px;
    }
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    @media (max-width: 705px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 0;
    }
    @media (max-width: 450px) {
      flex-direction: row;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__item-img {
    min-width: 40px;
    height: 40px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 20px;
    margin-left: 15px;
    @media (max-width: 705px) {
      font-size: 1.5rem;
      line-height: 20px;
      text-align: center;
      margin-left: 0;
      margin-top: 10px;
    }
    @media (max-width: 450px) {
      text-align: left;
      margin-top: 0;
      margin-left: 15px;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
  }

  &__btn {
    margin-bottom: 90px;
    @media (max-width: 980px) {
      max-width: 210px;
      height: 60px;
      margin-bottom: 55px;
    }
  }

  &__images {
    position: relative;
    width: 60%;
    @media (max-width: 900px) {
      height: 400px;
      bottom: 0;
    }
    @media (max-width: 705px) {
      height: 275px;
    }
    @media (max-width: 450px) {
      height: 180px;
    }
  }

  &__img {
    position: absolute;
    &:nth-child(1) {
      width: 216px;
      height: 112px;
      right: 20px;
      bottom: 0;
      z-index: 6;
      @media (max-width: 980px) {
        width: 162px;
        height: 84px;
        right: 105px;
      }
      @media (max-width: 900px) {
        width: 147px;
        height: 76px;
        right: -185px;
      }
      @media (max-width: 705px) {
        width: 113px;
        height: 58px;
        right: -170px;
      }
      @media (max-width: 450px) {
        width: 63px;
        height: 33px;
        right: -70px;
      }
    }
    &:nth-child(2) {
      width: 671px;
      height: 524px;
      right: -10px;
      bottom: 0;
      z-index: 5;
      @media (max-width: 980px) {
        width: 503px;
        height: 393px;
        right: 65px;
      }
      @media (max-width: 900px) {
        width: 456px;
        height: 356px;
        right: -150px;
      }
      @media (max-width: 705px) {
        width: 340px;
        height: 273px;
      }
      @media (max-width: 450px) {
        width: 219px;
        height: 171px;
        right: -90px;
      }
    }
    &:nth-child(3) {
      width: 271px;
      height: 134px;
      right: 640px;
      bottom: 0;
      z-index: 4;
      @media (max-width: 980px) {
        width: 203px;
        height: 100px;
        right: 585px;
      }
      @media (max-width: 900px) {
        width: 184px;
        height: 90px;
        right: 240px;
      }
      @media (max-width: 705px) {
        width: 141px;
        height: 69px;
        right: 150px;
      }
      @media (max-width: 450px) {
        width: 79px;
        height: 39px;
        right: 105px;
      }
    }
    &:nth-child(4) {
      width: 904px;
      height: 246px;
      right: -115px;
      bottom: 0;
      z-index: 3;
      @media (max-width: 980px) {
        width: 677px;
        height: 185px;
        right: 55px;
      }
      @media (max-width: 900px) {
        width: 614px;
        height: 168px;
        right: -235px;
      }
      @media (max-width: 705px) {
        width: 470px;
        height: 129px;
        right: -210px;
      }
      @media (max-width: 450px) {
        width: 264px;
        height: 73px;
        right: -100px;
      }
    }
    &:nth-child(5) {
      width: 576px;
      height: 276px;
      right: -160px;
      bottom: 85px;
      z-index: 2;
      @media (max-width: 980px) {
        width: 425px;
        height: 207px;
        right: 0;
        bottom: 60px;
      }
      @media (max-width: 900px) {
        width: 623px;
        height: 303px;
        right: -240px;
        bottom: 40px;
      }
      @media (max-width: 705px) {
        width: 477px;
        height: 232px;
        right: -210px;
        bottom: 20px;
      }
      @media (max-width: 450px) {
        width: 268px;
        height: 130px;
        right: -103px;
      }
    }
  }
}

.title {
  &__text {
    width: 100%;
    font-size: 4.2em;
    @media (max-width: 980px) {
      font-size: 3.8rem;
      line-height: 40px;
    }
  }
}
