.safety {
  padding: 70px 0 100px;
  background: $alabaster;
  &__title {
    text-align: center;
    margin-bottom: 35px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 100%;
    max-width: 585px;
    height: 200px;

    &:nth-child(2) {
      & .card__img-front {
        top: 50%;
        transform: translateY(-80%);
        left: 27px;
      }
    }

    & .card__wrap {
      justify-content: space-between;
      padding-right: 25px;
    }

    & .card__title {
      font-size: 2rem;
      line-height: 22px;
    }
    & .card__descr {
      max-width: 350px;
    }
  }
}
