.social-plash {
  width: 70px;
  height: 210px;
  border-radius: 5px;
  background: $white;
  border: 1px solid $catskill;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(41, 63, 133, 0.1);
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-item {
  padding: 15px;
  &:not(:last-child) {
    border-bottom: 1px solid $catskill;
  }
  &__img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
