*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $white;
  font-family: 'Norms', sans-serif;
  color: $mako;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.first-screen {
  width: 100%;
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & h1 {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 4.8rem;
  color: $black;
}

.title-price {
  width: 100%;
  height: 100%;
  background-image: url(../img/subtract.svg);
  background-repeat: no-repeat;
  background-size: 100% 99%;
  font-weight: 800;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: radial-gradient(120% 120% at 50% 0, #f3f3f3 0, rgba(250, 250, 250, 0) 57.29%);
}
