$white: #fff;
$black: #000;
$ebony: #0b1023;
$charade: #272a34;
$shark: #1c1e24;
$mako: #3d4048;
$catskill: #ebeff6;
$linkwater: #f2f5fb;
$alabaster: #fafafa;
$porcelian: #edeff1;
$cadetblue: #b5bac8;
$lochmara: #0088cc;
$cerulean: #09a2ef;
$dodgerblue: #3b69fa;
$royalblue: #365edc;
$esmerald: #43d854;
$scremgreen: #46f059;
$gold: #ffd600;
